/****Header****/
.header{
  width: 100%;
  background-color:  #004445;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.header .container{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.brand .image_container img{
  width: 60px;
}
.header .container .searchbar{
  display: flex;
  align-items: center;
}
.header .container .searchbar .search_input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  height: 30px;
  padding: 0 10px;
  color:#004445;
}
.header .container .searchbar .search_icon{
  width: 40px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  background-color: #6fb98f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004445;
  cursor: pointer;
}
.header .container .searchbar .search_icon i{
  cursor: pointer;
  transition: 0.2s linear; 
} 
.header .container .searchbar .search_icon:hover i{
  color: #ffd800;
  transition: 0.2s linear;
}

/****Header****/

/****Body******/

.app_body{
  display: flex;
}
/****Body******/

/****Navbar****/
.navbar{
  width: 200px;
  background-color: #6fb98f;
}
.navbar .nav_items{
  text-align: left;
  margin: 20px 0;
  padding-left: 20px;
}
.navbar .nav_items .nav_items__text{
  font-size: 25px;
  color:#004445;

  text-decoration: none;
}
.navbar .nav_items .nav_items__text:hover{
  color: #2c7873;
}
/****Navbar****/
/****Wallpaper*/
.wallpaper img{
  width: 600px;
  height: 200px;
}
.wallpaper{
  text-align: center;
  width: 100%;
}
/****Wallpaper*/
.profile{
  width: calc(100vw - 200px);
  height: 100%;
  background-color: #2c7873;
  color:#ffd800;
}
/****Userinfo**/
.user_info{
  display: flex;
  margin: 20px 0 30px 50px;
}
.user_image img{
  width: 180px;
}
.user_info__content{
  margin-left: 30px;
}
.user_info__content .user_name{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}
.user_info__content .row{
  display: flex;
  margin-bottom: 15px;
  font-size:18px;
}
.user_info__content .row .property{
  width: 150px;
  color: rgb(253, 137, 4);
}
/****Userinfo**/

.postinput {
  text-align: center;
}
.postinput .title{
  padding-left:100px;
  text-align: left;
  font-size: 25px;
  font-weight: normal;
}
.postinput .post_input{
  width: calc(100% - 50px);
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  color:#004445;
}
.btn_section{
  text-align: right;
  padding-right: 30px;
}
.btn_section button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #6fb98f;
  color:#004445;
  cursor: pointer;
  font-size: 18px;
}
.btn_section button:hover{
  background-color: #ffd800;
}

.postsarea{
  margin-top: 30px;
  margin-left: 30px;
}
.postsarea .post{
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #6fb98f;
  padding-bottom: 10px;
  border-radius: 10px;
}
.postsarea .post .avatar img{
  width: 75px;
  border-radius: 50%;
}
.postsarea .post .post_text{
  font-size: 18px;
  margin-left: 30px;
}


